body {

    background-color: black;


}

.title {

    background-image: url("https://lecturesmmdoriane.files.wordpress.com/2018/04/fantasy_world.jpg");
    height: 720px;


}

.c-footer {

    border-top: aliceblue solid 2px;

}